@media only screen and ( max-width:1110px){
.center {
    width:980px;
}
}

@media only screen and ( max-width:980px){
    .center {
    width:768px;
    }
}

@media only screen and ( max-width:768px){
    .center {width:640px;
    }
}

@media only screen and ( max-width:640px){
    .center {
    width:auto;
    }
}